@model LearningDomain.Model.Lesson

@{
    ViewData["Title"] = "Details";
}

<h1>Деталі</h1>

<div>
    <h4>Урок</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Info)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Info)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.VideoUrl)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.VideoUrl)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DocxUrl)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DocxUrl)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Course)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Course.Name)
        </dd>
    </dl>
</div>
<div>
    @if (User.IsInRole("Teacher"))
{
        <a asp-action="Edit" asp-route-id="@Model?.Id" class="btn-course">Редагувати</a>
}
    <a asp-action="Index" asp-route-id="@Model.CourseId" asp-route-name="@Model.Course.Name" class="btn-course">Повернутися</a>

</div>
