@model IEnumerable<LearningDomain.Model.Course>

@{
    ViewData["Title"] = "Index";
}

<h1>Курси</h1>

@if (ViewBag.NotFoundMessage != null)
{
    <div style="color: red; margin-bottom: 2px;">
        @ViewBag.NotFoundMessage
    </div>
}
@if (TempData["SuccessMessage"] != null)
{
    <div class="alert alert-success">
        @TempData["SuccessMessage"]
    </div>
}


<div style="text-align: right; margin-bottom: 10px;">
    <form asp-action="Index" method="get">
        <input type="text" name="searchString" placeholder="Пошук за ім'ям..." />
        <button type="submit" class="btn-course">Знайти</button>
    </form>
</div>
@if (User.IsInRole("Teacher"))
{
    <p>
        <a asp-action="Create" class="btn-course">Додати новий</a>
    </p>
}
@if (User.IsInRole("Teacher"))
{
    <a class="btn btn-primary btn-course mb-3" asp-action="Export" asp-controller="Courses">Експортувати у файл</a>
    <a class="btn btn-success btn-course mb-3 ms-2" asp-action="Import" asp-controller="Courses">Імпортувати з файлу</a>
}

<table class="table">
    <thead >
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Info)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model) {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Info)
                </td>
                <td style="text-align: right;">
                    @if (User.IsInRole("Teacher"))
                    {
                        <a asp-action="Edit" asp-route-id="@item.Id" class="btn-course">Редагувати</a>
                    }

                    <a asp-action="Details" asp-route-id="@item.Id" class="btn-course">Деталі</a>
                    @if (User.IsInRole("Teacher"))
                    {
                        <a asp-action="Delete" asp-route-id="@item.Id" class="btn-course">Видалити</a>
                    }
            </td>
        </tr>
}
    </tbody>
</table>
